#root, body, html {
  height: 100%;
  min-height: 100%;
  background: #fff8e1;
}


.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper > main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.home-container{
  overflow-x: hidden;
  background: #fff8e1;
}

.backToTop{
  position: fixed;
  right: 4px;
  bottom: 2px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}

.search {
  box-shadow: 0 2px 8px 0 orange;
  border: none;
}

.search:focus,.search:focus-visible {
  outline: none !important;
  box-shadow: 0 2px 12px 0 orange !important;
  border: none;
}

.navbar-toggler:focus,.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.food-image{
  height: 180px;
  border-radius: 15px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.notfound-container{
  height: 50vh;
  background: #fff8e1;
}

.details-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #fff8e1;
}


.index{
  min-height: 30px;
  min-width: 40px;
  background-color: orange;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
}

a{
  text-decoration: none;
}

.InActivePage p {
  margin: 0;
  padding: 0;
}

.activePage p{
  margin: 0;
  padding: 0;
}

.InActivePage{
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid orange;
  display: inline-flex;
}

.activePage{
  background-color: orange;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}
